 * {
    font-family: "Roboto", sans-serif;
    margin: 0px
}

header {
    height: 30px;
}

footer {
    height: 64px;
    color: #e5e7eb;
    font-size: 12px;
}

.hero, footer {
    background: #1f2937;
}

.main {
    font-size: 34px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary {
    font-size: 14px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.container {
    display: flex;
    padding: 0 130 0 130;
    align-items: center;
    
}

footer.container {
    justify-content: center;
    align-items: center;
}

.c1 {
    height: 320;
    background-color:#1f2937;
}

.c2 {
    height: 320px;
    background-color:white;
    flex-direction: column;
}

.c3 {
    height: 275px;
    background-color: #e5e7eb;
    flex-direction: column;
}

.c4 {
    height: 230px;
    background-color: white;
}

.item1 {
    height: 160;
    flex: 1 1 auto;
    width: 40;
}

.img {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    font-size: 14;
}

.b1 {
    background-color: #3882f6;
    border: 0px;
    color: #f9faf8;
    height: 25px;
    width: 90px;
    border-radius: 4px;
}

.info {
    font-size: 26px;
    font-weight: 900;
    color: #1f2937;
    padding: 30px 0px 30px 0px;
}

.sub.container {
    padding: 0 20 0 20;
    flex-wrap: wrap;
    justify-content: center;
    
}
.sub.info, .box {
    margin: 0px 15px -25px 15px;
}

.sub.info {
    font-size: 11;
    font-weight: 100;
    columns: grey;
    text-align: center;
    width: 106px;
}

.box { 
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.quote {
    margin-top: 90px;
    font-size: 21px;
    font-weight: 100;
    text-align: left;
    width: 480px;
}

.thor {
    width: 480px;
    text-align: right;
    font-weight: 900;
}

.sub2.container {
    background-color: #3882f6;
    height: 100px;
    flex: 1 1 auto;
    border-radius: 6px;
    padding: 0 80 0 80;
    justify-content: space-between;
}

.action {
    color: #e5e7eb;
    font-weight: 700;
    font-size: 16px;
}

.sub.action {
    font-weight: 100;
    font-size: 12px;
}

.b1.b2{
    border: 1px solid #f9faf8;
}

