 * {
    font-family: "Roboto", sans-serif;
    margin: 0px;


}

header {
    height: 30px;
}

footer {
    height: 62px;
    color: #e5e7eb;
    font-size: 12px;
}

.hero, footer {
    background: #1f2937;
}

.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.container {
    display: flex;
}

footer.container {
    justify-content: center;
    align-items: center;
}

.c1 {
    height: 320;
    background-color:#1f2937;
}

.c2 {
    height: 320px;
    background-color:white;
}

.c3 {
    height: 275px;
    background-color: #e5e7eb;
}

.c4 {
    height: 230px;
    background-color: white;
}


